{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Shopper</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="../../static/core/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="../../static/core/css/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		
		<link href="../../static/core/css/themes/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="../../static/core/css/themes/css/flexslider.css" rel="stylesheet"/>
		<link href="../../static/core/css/themes/css/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="../../static/core/css/themes/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/core/css/bootstrap/js/bootstrap.min.js"></script>				
		<script src="../../static/core/css/themes/js/superfish.js"></script>	
		<script src="../../static/core/css/themes/js/jquery.scrolltotop.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
		<link rel="icon" type="image/png" href="../../static/core/css/themes/images/logo.png">
	</head>
    <body>		
		<div id="top-bar" class="container">
			<div class="row container-fluid">
					<ul class="user-menu">
						<div class="pull-left">
							<a href="index.html" class="logo pull-left"><img src="../../static/core/css/themes/images/logo.png" class="site_logo" alt=""></a>
						</div>
						<div class="pull-right">	
							<li><a href="{% url 'home' %}">Inicio</a></li>
							<li><a href="{% url 'sobre_nosotros' %}">Nosotros</a></li>
							{% if user.is_authenticated %}
								{% if user.is_staff %}
									<li><a href="{% url 'mainAdministrador' %}">Main Administrador</a></li>
								{% endif %}
								<li><a href="{% url 'mi_perfil' %}">Mi Perfil</a></li>
								<li><a href="{% url 'mis_compras' user.id %}">Mis Compras</a></li>
								<li><a href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a></li>
								<li>{{ user.first_name}}</li>
							{% else %}
								<li><a href="{% url 'registrar_usuario' %}">Registrate</a></li>
								<li><a href="{% url 'iniciar_sesion' %}">Ingresar</a></li>
							{% endif %}
						</div>			
					</ul>
			</div>
		</div>
        <br><br><br>
        <h2 align="center">Cambiar Contraseña</h2>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6 borde_formulario">
                    <form method="POST">
                        <div class="centrar">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" class="btn btn-primary" value="Cambiar contraseña">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>