{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Shopper</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="../../static/core/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="../../static/core/css/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		
		<link href="../../static/core/css/themes/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="../../static/core/css/themes/css/flexslider.css" rel="stylesheet"/>
		<link href="../../static/core/css/themes/css/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="../../static/core/css/themes/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/core/css/bootstrap/js/bootstrap.min.js"></script>				
		<script src="../../static/core/css/themes/js/superfish.js"></script>	
		<script src="../../static/core/css/themes/js/jquery.scrolltotop.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
		<link rel="icon" type="image/png" href="../../static/core/css/themes/images/logo.png">
	</head>
    <body>		
		<div id="top-bar" class="container">
			<div class="row container-fluid">
					<ul class="user-menu">
						<div class="pull-left">
							<a href="index.html" class="logo pull-left"><img src="../../static/core/css/themes/images/logo.png" class="site_logo" alt=""></a>
						</div>
						<div class="pull-right">		
							<li><a href="{% url 'home' %}">Inicio</a></li>
							<li><a href="{% url 'sobre_nosotros' %}">Nosotros</a></li>
							{% if user.is_authenticated %}
							<li><a href="{% url 'mis_datos' user.id %}">Mis Datos</a></li>
							<li><a href="{% url 'mis_datos' user.id %}">Mis Compras</a></li>
							<li><a href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a></li>
							<li>{{ user.first_name}}</li>
							{% else %}
							<li><a href="{% url 'registrar_usuario' %}">Registrate</a></li>
							<li><a href="{% url 'iniciar_sesion' %}">Ingresar</a></li>
							{% endif %}
						</div>			
					</ul>
			</div>
		</div>
		<div id="wrapper" class="container">
			<center><h1>Ficha de producto</h1></center>
			<br>
			<section class="main-content">				
				<div class="row">						
					<div class="span9">
						<div class="row">
							<div class="span4">
								<a class="thumbnail" data-fancybox-group="group1" title="Description 1"><img alt="" src="/media/{{ producto.imagen }}"></a>												
							</div>
							<div class="span5">
								<address>
									<h4><strong>$ {{ producto.precio}}</strong></h4>
									<strong>Nombre:</strong> <span>{{ producto.nomProducto}}</span><br>
									<strong>Descripción:</strong><br>
									<p>{{ producto.descripcion}}</p>
									<strong>PRODUCTO DISPONIBLE</span><br>								
								</address>									
							</div>
							{% if user.is_authenticated %}
							<div class="span5">
								<form method="GET">
									<a class="btn btn-primary btnwidth" href="{% url 'comprar_producto' producto.idProducto %}">comprar</a>
									{% if mesg %}
										<div id="form_message" class="alert alert-danger" role="alert">{{ mesg }}</div>
									{% endif %}
								</form>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</section>			
			<section id="footer-bar">
				<div class="row">
					<div class="span3 abajo">
						<h4>Navegar</h4>
						<ul class="nav">
							<li><a href="index.html">Inicio</a></li>  
							<li><a href="sobre_nosotros.html">Sobre nosotros</a></li>
							<li><a href="registro.html">Registrate</a></li>
							<li><a href="login.html">Inicio de sesion</a></li>							
						</ul>					
					</div>						
				</div>	
			</section>
		</div>
		<script src="themes/js/common.js"></script>
		<script>
			$(function () {
				$('#myTab a:first').tab('show');
				$('#myTab a').click(function (e) {
					e.preventDefault();
					$(this).tab('show');
				})
			})
			$(document).ready(function() {
				$('.thumbnail').fancybox({
					openEffect  : 'none',
					closeEffect : 'none'
				});
				
				$('#myCarousel-2').carousel({
                    interval: 2500
                });								
			});
		</script>
    </body>
</html>