{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Shopper</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="../../static/core/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="../../static/core/css/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		
		<link href="../../static/core/css/themes/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="../../static/core/css/themes/css/flexslider.css" rel="stylesheet"/>
		<link href="../../static/core/css/themes/css/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="../../static/core/css/themes/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/core/css/bootstrap/js/bootstrap.min.js"></script>				
		<script src="../../static/core/css/themes/js/superfish.js"></script>	
		<script src="../../static/core/css/themes/js/jquery.scrolltotop.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
		<link rel="icon" type="image/png" href="../../static/core/css/themes/images/logo.png">
	</head>
    <body>		
		<div id="top-bar" class="container">
			<div class="row container-fluid">
					<ul class="user-menu">
						<div class="pull-left">
							<a href="index.html" class="logo pull-left"><img src="../../static/core/css/themes/images/logo.png" class="site_logo" alt=""></a>
						</div>
						<div class="pull-right">		
							<li><a href="{% url 'home' %}">Inicio</a></li>
							<li><a href="{% url 'sobre_nosotros' %}">Nosotros</a></li>
							<li><a href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a></li>
						</div>			
					</ul>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="header_text">
				Administrador
			</section>
			<section class="row" >	
				<div>													
					<h3 class="product-box"><a href="{% url 'maestro_producto' 'ins' -1 %}">Mantendor Producto</a></h3>
					<h3 class="product-box"><a href="{% url 'maestro_bodega' 'ins' -1 %}">Mantendor Bodega</a></h3>	
					<h3 class="product-box"><a href="{% url 'maestro_usuario' 'upd' user.id %}">Mantendor De Usuarios</a></h3>
					<h3 class="product-box"><a href="{% url 'maestro_bodega' 'ins' -1 %}">Historial De Ventas</a></h3>	
			</section>
			<section id="footer-bar">
			</section>
		</div>
		<script src="themes/js/common.js"></script>
		<script src="themes/js/jquery.flexslider-min.js"></script>
		<script type="text/javascript">
			$(function() {
				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation: "fade",
						slideshowSpeed: 4000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						controlsContainer: ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>
    </body>
</html>