{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Shopper</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="../../static/core/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="../../static/core/css/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		
		<link href="../../static/core/css/themes/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="../../static/core/css/themes/css/flexslider.css" rel="stylesheet"/>
		<link href="../../static/core/css/themes/css/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="../../static/core/css/themes/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/core/css/bootstrap/js/bootstrap.min.js"></script>				
		<script src="../../static/core/css/themes/js/superfish.js"></script>	
		<script src="../../static/core/css/themes/js/jquery.scrolltotop.js"></script>
		<link href="{% static 'core/css/forms.css'%}" rel="stylesheet">
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
		<link rel="icon" type="image/png" href="../../static/core/css/themes/images/logo.png">
	</head>
    <body>		
		<div id="top-bar" class="container">
			<div class="row container-fluid">
					<ul class="user-menu">
						<div class="pull-left">
							<a href="index.html" class="logo pull-left"><img src="../../static/core/css/themes/images/logo.png" class="site_logo" alt=""></a>
						</div>
						<div class="pull-right">
							<li><a href="{% url 'home' %}">Inicio</a></li>
							<li><a href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a></li>
						</div>			
					</ul>
			</div>
		</div>
		<div id="wrapper" class="container">				
			<section class="main-content">
			    <br>
				<h2 align="center"><span>Mis Compras</span></h2>
					{% if list %}
					<table id="tabla_datos">
						<thead>
							<tr>
								<th>Nro Factura</th>
								<th>Fecha</th>
								<th>Estado</th>
								<th>Precio</th>
								<th>Opciones</th>
							</tr>
						</thead>
						<tbody>
							{% for pro in list %}
							<tr>
								<td>{{ pro.id }}</td>
								<td>{{ pro.fecha }}</td>
								<td>{{ pro.estado }}</td>
								<td>{{ pro.precio }}</td>
								<td><a href="{% url 'detalle_factura' pro.id %}" 
									class="btn btn-primary btn-sm boton_chico">Ver Detalle</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% endif %}
			</section>
		</div>
		
		<script src="themes/js/common.js"></script>
		<script src="ajax1.js"></script>
		<script>
			$(document).ready(function() {
				$('#checkout').click(function (e) {
					document.location.href = "checkout.html";
				})
			});
		</script>		
    </body>
</html>