<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Bootstrap E-commerce Templates</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="../../static/main/bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="../../static/main/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">		
		<link href="../../static/main/themes/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="../../static/main/themes/css/flexslider.css" rel="stylesheet"/>
		<link href="../../static/main/themes/css/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="../../static/main/themes/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/main/bootstrap/js/bootstrap.min.js"></script>				
		<script src="../../static/main/themes/js/superfish.js"></script>	
		<script src="../../static/main/themes/js/jquery.scrolltotop.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="themes/js/respond.min.js"></script>
		<![endif]-->
		<link rel="icon" type="image/png" href="../../static/main/themes/images/logo.png">
	</head>
    <body>		
		<div id="top-bar" class="container">
			<div class="row container-fluid">
					<ul class="user-menu">
						<a href="/maestroProducto" class="logo pull-left"><img src="../../static/main/themes/images/logo.png" class="site_logo" alt=""></a>			
						<li><a href="/maestroProducto">Inicio</a></li>
						<li><a href="/adminTienda">Administrar Tienda</a></li>
						<li><a href="/sobreNos">Nosotros</a></li>
						<li><a href="/index">Cerrar Sesión</a></li>		
					</ul>
			</div>
		</div>
		<div id="wrapper" class="container">				
			<section class="main-content">
			    <br>
				<h2><span>Mantenedor de productos</span></h2>
			</section>
			<section class="main-content">				
				<div class="row">
					<div class="span9">			
						<table class="table table-bordered" style="border-collapse: 1px;">
							<thead>
								<tr>
									<th>ID</th>
									<th>Categoria</th>
									<th>Nombre</th>
									<th>precio</th>
									<th>descripcion</th>
									<th>imagen</th>
									<th class="titulo_boton">Editar</th>
            						<th class="titulo_boton">Eliminar</th>
								</tr>
							</thead>
							<tbody id="res">
								{% for i in p %}
								<tr>
									<th>{{ i.idProduco }}</th>
									<th>{{ i.categoria }}</th>
									<th>{{ i.nombreProducto }}</th>
									<th>{{ i.precioProducto }}</th>
									<th>{{ i.descripcionProducto }}</th>
									<th><img src="{{ i.imagenProducto.url }}" style="height: 80px;" alt=""></th>
									<th><a href="{% url 'mantenedorProducto' i.idProduco 'upd' %}" 
										class="btn btn-primary btn-sm boton_chico">Editar</a></th>
									<th><a href="{% url 'mantenedorProducto' i.idProduco 'del' %}" 
										class="btn btn-danger btn-sm boton_chico">Eliminar</a></th>
								{% endfor %}
								</tr>
							</tbody>
						</table>					
					</div>
				</div>
			</section>			
		</div>
		<script src="../../static/main/static/main/themes/js/common.js"></script>
		<script src="../../static/main/static/main/js/ajax1.js"></script>
		<script>
			$(document).ready(function() {
				$('#checkout').click(function (e) {
					document.location.href = "checkout";
				})
			});
		</script>		
    </body>
</html>