<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Bootstrap E-commerce Templates</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="../../static/main/bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="../../static/main/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">		
		<link href="../../static/main/themes/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="../../static/main/themes/css/flexslider.css" rel="stylesheet"/>
		<link href="../../static/main/themes/css/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="../../static/main/themes/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/main/bootstrap/js/bootstrap.min.js"></script>				
		<script src="../../static/main/themes/js/superfish.js"></script>	
		<script src="../../static/main/themes/js/jquery.scrolltotop.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" integrity="sha512-FOhq9HThdn7ltbK8abmGn60A/EMtEzIzv1rvuh+DqzJtSGq8BRdEN0U+j0iKEIffiw/yEtVuladk6rsG4X6Uqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
        <link rel="icon" type="image/png" href="../../static/main/themes/images/logo.png">
	</head>
    <body>		
        <div id="top-bar" class="container">
            <div class="row container-fluid">
                <div class="span4">
                    <form method="POST" class="search_form">
                        <input type="text" class="input-block-level search-query" Placeholder="ej. comida para perros">
                    </form>
                </div>
                <div class="span8">
                    <div class="account pull-right">
                        <ul class="user-menu">
                            <a href="inicio_cliente" class="logo pull-left"><img src="../../static/main/themes/images/logo.png" class="site_logo" alt=""></a>			
                            <li><a href="inicio_cliente">Inicio</a></li>
                            <li><a href="/sobreNos">Nosotros</a></li>
                            <li><a href="#">Mis datos</a></li>
                            <li><a href="mis_compras">Mis compras</a></li>					
                            <li><a href="carrito_de_compras">Carrito</a></li>
                            <li><a href="index">Cerrar sesión</a></li>		
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <section>
                    <div>
                        <div class="container">
                            <br>
                            <br>
                            <div class="borde-bootstrap-row">
                                <h4>Formulario de Registro</h4>
                            </div>
                            <br>
                            <form class="form-stacked" action="registro.php" method="post" name="registro" id="registro">
                                <fieldset>
                                    <div class="row borde-bootstrap-row">
                                        <div class="span6">
                                            <div class="form-group">
                                                <label for="rut" class="control-label">RUT</label>
                                                <div class="controls">
                                                    {{form.rut}}
                                                </div>
                                                <small id="rut-help" class="form-text text-muted">
                                                    Escribe tu RUT sin puntos y con guión, por ejemplo: 16560241-2
                                                </small>
                                            </div>
                                            <div class="form-group">
                                                <label for="nombres" class="control-label">Nombres</label>
                                                <div class="controls">
                                                    {{form.nombres}}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="apellidos" class="control-label">Apellidos</label>
                                                <div class="controls">
                                                    {{form.apellidos}}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="correo" class="control-label">Correo</label>
                                                <div class="controls">
                                                    {{form.correo}}
                                                </div>
                                                <small id="correo-help" class="form-text text-muted">
                                                    Escribe tu correo incluyendo: nombre, @ y dominio, por ejemplo: atorres@duocuc.cl
                                                </small>
                                            </div>
                                            <div class="form-group">
                                                <label for="direccion" class="control-label">Dirección</label>
                                                <div class="controls">
                                                    {{form.direccion}}
                                                </div>
                                                <small id="direccion-help" class="form-text text-muted">
                                                    Escribe tu direción completa con: calle, número, comuna y región
                                                </small>
                                            </div>
                                            <div class="form-check">
                                                {{form.suscripcion}}
                                                <label class="form-check-label" for="consubscripcion">Con subscripción</label>
                                                <small id="consubscripcion-help" class="form-text text-muted">
                                                    Deseo subscribirme con un aporte de $3.000 mensuales
                                                    y obtener un 5% de descuento en mis copmpras
                                                </small>
                                            </div>
                                            <div class="form-group">
                                                <br>
                                                <label for="password" class="control-label">Contraseña</label>
                                                <div class="controls">
                                                    {{form.contraseña}}
                                                </div>
                                                <small id="password-help" class="form-text text-muted">
                                                    La contraseña debe tener un mínimo de 10 caracteres y 
                                                    debe contener al menos una mayúscula y un número
                                                </small>
                                            </div>
                                            <div class="form-group">
                                                <label for="password2" class="control-label">Repetir contraseña</label>
                                                <div class="controls">
                                                    {{form.contraseñaRepetida}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span3">
                                            <div class="form-group">
                                                <img src="images/cristian_gomez.jpg" alt="" name="fotoperfil" id="fotoperfil">
                                                <br>
                                                <br>
                                                {{form.imagen}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row borde-bootstrap-row">
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                        &nbsp;&nbsp;&nbsp;
                                        <button type="reset" class="btn btn-secondary">Limpiar</button>
                                    </div>
                                    <hr>
                                </fieldset>
                            </form>					
                        </div>				
                    </div>
                </section>			
                <section id="footer-bar">
                    <div class="row">
                        <div class="span3">
                            <h4>Navegar</h4>
                            <ul class="nav">
                                <li><a href="./index">Inicio</a></li>  
                                <li><a href="./about">Sobre nosotros</a></li>
                                <li><a href="./contact">Contactanos</a></li>
                                <li><a href="./cart">Carrito</a></li>
                                <li><a href="./register">Inicio de sesion</a></li>							
                            </ul>					
                        </div>
                        <div class="span4">
                            <h4>Mi cuenta</h4>
                            <ul class="nav">
                                <li><a href="#">Mi cuenta</a></li>
                                <li><a href="#">Historial de pedidos</a></li>
                                <li><a href="#">Lista de deseos</a></li>
                                <li><a href="#">Novedades</a></li>
                            </ul>
                        </div>
                        <div class="span5">
                            <p class="logo"><img src="../../static/main/themes/images/logo.png" class="site_logo" alt=""></p>
                            <p>Shopper es la tienda online más completa para mascotas creada por pet lovers para pet lovers!. Somos la tienda en línea de mascotas con mayor variedad de productos y servicios a domicilio de Latinoamérica (Colombia, Chile y México), contamos con más de 4.000 productos (alimentos, dietas naturales, snacks, medicinas, higiene y accesorios) y próximamente, más de 17 servicios como (medicina veterinaria prepagada, veterinario a domicilio, vacunación, baños, funeraria, entrenador, cuidadores, información de colegios, fundaciones, entre otros.</p>
                            <br/>
                            <span class="social_icons">
                                <a class="facebook" href="#">Facebook</a>
                                <a class="twitter" href="#">Twitter</a>
                                <a class="skype" href="#">Skype</a>
                                <a class="vimeo" href="#">Vimeo</a>
                            </span>
                        </div>
                    </div>
                </section>			
            </div>
        </div>
        <script src="../../static/main/js/validacion-formularios.js"></script>
    </body>
</html>