
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Bootstrap E-commerce Templates</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		
		<!-- bootstrap -->
		<link href="../../static/main/bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="../../static/main/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">		
		<link href="../../static/main/themes/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="../../static/main/themes/css/main.css" rel="stylesheet"/>
		<link href="../../static/main/themes/css/jquery.fancybox.css" rel="stylesheet"/>
				
		<!-- scripts -->
		<script src="../../static/main/themes/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/main/bootstrap/js/bootstrap.min.js"></script>				
		<script src="../../static/main/themes/js/superfish.js"></script>	
		<script src="../../static/main/themes/js/jquery.scrolltotop.js"></script>
		<script src="../../static/main/themes/js/jquery.fancybox.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
		<link rel="icon" type="image/png" href="../../static/main/themes/images/logo.png">
	</head>
    <body>		
		<div id="top-bar" class="container">
			<div class="row container-fluid">
					<ul class="user-menu">
						<a href="/" class="logo pull-left"><img src="../../static/main/themes/images/logo.png" class="site_logo" alt=""></a>			
						<li><a href="/">Inicio</a></li>
						<li><a href="/registro">Registrate</a></li>
						<li><a href="/sobreNos">Nosotros</a></li>
						<li><a href="/login">Ingresar</a></li>		
					</ul>
			</div>
		</div>
		<div id="wrapper" class="container">
			<center><h1>Ficha de producto</h1></center>
			<br>
			<section class="main-content">				
				<div class="row">						
					<div class="span9">
						<div class="row">
							<div class="span4">
								<a href="{{i.imagenProducto.url}}" data-fancybox-group="group1" title="Description 1"><img alt="" src="{{p.imagenProducto.url}}"></a>												
							</div>
							<div class="span5">
								<address>
									<h4><strong>Precio: ${{p.precioProducto}}</strong></h4>
									<strong>Nombre:</strong> <span>{{p.nombreProducto}}</span><br>
									<strong>Descripción:</strong><br>
									<p>{{p.descripcionProducto}}</p>
									{% if p.disponibilidadProducto == True %}
										<strong>PRODUCTO DISPONIBLE</span><br>	
									{% else %}
										<strong>PRODUCTO NO DISPONIBLE</span><br>
									{% endif %}
								</address>									
							</div>
						</div>
					</div>
				</div>
			</section>			
			<section id="footer-bar">
				<div class="row">
					<div class="span3">
						<h4>Navegar</h4>
						<ul class="nav">
							<li><a href="/inicioCli">Inicio</a></li>
							<li><a href="/registrarse">Registrate</a></li>
							<li><a href="/ingresar">Ingresar</a></li>
							<li><a href="/nosotros">Nosotros</a></li>							
						</ul>					
					</div>
					<div class="span4">
						<h4>Mi cuenta</h4>
						<ul class="nav">
							<li><a href="#">Mi cuenta</a></li>
							<li><a href="#">Historial de pedidos</a></li>
							<li><a href="#">Lista de deseos</a></li>
							<li><a href="#">Novedades</a></li>
						</ul>
					</div>
					<div class="span5">
						<p class="logo"><img src="../../static/main/themes/images/logo.png" class="site_logo" alt=""></p>
						<p>Shopper es la tienda online más completa para mascotas creada por pet lovers para pet lovers!. Somos la tienda en línea de mascotas con mayor variedad de productos y servicios a domicilio de Latinoamérica (Colombia, Chile y México), contamos con más de 4.000 productos (alimentos, dietas naturales, snacks, medicinas, higiene y accesorios) y próximamente, más de 17 servicios como (medicina veterinaria prepagada, veterinario a domicilio, vacunación, baños, funeraria, entrenador, cuidadores, información de colegios, fundaciones, entre otros.</p>
						<br/>
						<span class="social_icons">
							<a class="facebook" href="#">Facebook</a>
							<a class="twitter" href="#">Twitter</a>
							<a class="skype" href="#">Skype</a>
							<a class="vimeo" href="#">Vimeo</a>
						</span>
					</div>
				</div>
			</section>			
		</div>
		<script src="../../static/main/static/main/themes/js/common.js"></script>
		<script>
			$(function () {
				$('#myTab a:first').tab('show');
				$('#myTab a').click(function (e) {
					e.preventDefault();
					$(this).tab('show');
				})
			})
			$(document).ready(function() {
				$('.thumbnail').fancybox({
					openEffect  : 'none',
					closeEffect : 'none'
				});
				
				$('#myCarousel-2').carousel({
                    interval: 2500
                });								
			});
		</script>
    </body>
</html>