<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Bootstrap E-commerce Templates</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="../../static/main/bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="../../static/main/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">		
		<link href="../../static/main/themes/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="../../static/main/themes/css/flexslider.css" rel="stylesheet"/>
		<link href="../../static/main/themes/css/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="../../static/main/themes/js/jquery-1.7.2.min.js"></script>
		<script src="../../static/main/bootstrap/js/bootstrap.min.js"></script>				
		<script src="../../static/main/themes/js/superfish.js"></script>	
		<script src="../../static/main/themes/js/jquery.scrolltotop.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="themes/js/respond.min.js"></script>
		<![endif]-->
		<link rel="icon" type="image/png" href="../../static/main/themes/images/logo.png">
	</head>
    <body>		
		<div id="top-bar" class="container">
			<div class="row container-fluid">
					<ul class="user-menu">
						<a href="/maestroUsuario" class="logo pull-left"><img src="../../static/main/themes/images/logo.png" class="site_logo" alt=""></a>			
						<li><a href="/maestroUsuario">Inicio</a></li>
						<li><a href="/adminTienda">Administrar Tienda</a></li>
						<li><a href="/sobreNos">Nosotros</a></li>
						<li><a href="/index">Cerrar Sesión</a></li>		
					</ul>
			</div>
		</div>
		<div id="wrapper" class="container">
							
			<section class="main-content">
			    <br>
				<h3><span>Mantenedor de usuario</span></h3>
                <div class="span5">
					<form method="POST" action="" enctype="multipart/form-data" id="formulario">
						<div class="form-group">
							{% csrf_token %} {{ form.as_p }}
						</div>
						<input type="submit" class="btn btn-primary btnwidth" id="id_guardar" value="Guardar">
						<a class="btn btn-success btnwidth" href="{% url 'mantenedorUsuario' -1 'ins'  %}">Nuevo</a>
						{% if id != '-1' %}
						<a class="btn btn-danger btnwidth" href="{% url 'mantenedorUsuario' id 'del'  %}">Eliminar</a>
						{% endif %}
						{% if mesg %}
						<div id="form_message" class="alert alert-danger" role="alert">{{ mesg }}</div>
						{% endif %}
					</form>
				</div>
			</section>
			<section class="main-content">				
				<div class="row">
					<div class="span9">				
						<table class="table table-bordered" style="border-collapse: 1px;">
							<thead>
								<tr>
									<th>ID</th>
									<th>Tipo usuario</th>
									<th>Rut</th>
									<th>Nombres</th>
									<th>Direccion</th>
									<th>Con subscripción</th>
									<th>contraseña</th>
									<th>Imagen</th>
									<th>Editar</th>
									<th>Eliminar</th>
								</tr>
							</thead>
							<tbody id="red">
								{% for i in u %}
									<tr>
										<th>{{i.idUsuario}}</th>
										<th>{{i.categoria}}</th>
										<th>{{i.rutUsuario}}</th>
										<th>{{i.nombreUsuario}}</th>
										<th>{{i.direccionUsusario}}</th>
										{% if i.suscripcionUsusario == True %}
											<th>USUARIO SUSCRITO</th>
										{% else %}
											<th>USUARIO NO SUSCRITO</th>
										{% endif %}
										<th>{{i.contraseñaUsuario}}</th>
										{% if i.imagenUsuario != "sinfoto.jpg" %}
											<th><img src="{{ i.imagenUsuario.url }}" style="height: 80px;" alt=""></th>
										{% else %}
											<th>Sin imagen</th>
										{% endif %}
										<th><a href="{% url 'mantenedorUsuario' i.idUsuario 'upd' %}" 
											class="btn btn-primary btn-sm boton_chico">Editar</a></th>
										<th><a href="{% url 'mantenedorUsuario' i.idUsuario 'del' %}" 
											class="btn btn-danger btn-sm boton_chico">Eliminar</a></th>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						<hr>
						<hr/>					
					</div>
				</div>
			</section>			
		</div>
		<script src="../../static/main/themes/js/common.js"></script>
		<script src="../../static/main/js/ajax1.js"></script>
		<script>
			$(document).ready(function() {
				$('#checkout').click(function (e) {
					document.location.href = "checkout";
				})
			});
		</script>		
    </body>
</html>